<launch>

    <!--Input: Joystick-->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0" />
        <param name="autorepeat_rate" value="5" />
        <!-- Rate in Hz at which a joystick that has a non-changing state will resend the previously sent message -->
    </node>

    <!--Output: Bot or Sim-->
    <arg name="bot" default="false" />
    <!-- False: invoke Turtle simulation -->
    <group unless="$(arg bot)">
        <param name="/out_topic_name" type="string" value="/turtle1/cmd_vel" />
        <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen" />
        <!--This starts in / namespace-->
    </group>
    <!-- True: invoke Prizm twist controller -->
    <group if="$(arg bot)">
        <param name="/out_topic_name" type="string" value="/prizm/twist_controller/twist_cmd" />
        <include file="$(find prizm_ros)/launch/twist_controller.launch" />
        <!--This starts in /prizm namespace-->
    </group>

    <!--HW5 Node to connect I/O above-->
    <node pkg="joystick_pkg" type="joy_control_node" name="joy_control_node" output="screen" />
</launch>